/*Theames Color*/
$orange:#ee4b08;
$white:#ffffff;
$blue:#0080e8;
$grey-dark:#505050;
$grey-light:#c0c0c0;
$grey-bg:#f5f5f5;
$serach-bgcolor:#3a3a3a;
$green:#7fb400;
$red:#b40000;

/*Text Colors*/
$text-orange:#ee4b08;
$text-grey-dark:#505050;
$text-grey-light:#c0c0c0;
$text-white:#ffffff;
