.ftr-main {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $grey-dark;
	z-index:5;
}
.ftr-container {
	width: 1170px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	color: #fff;

}
.sptr-ftr {
	color: #fff;
	margin: 0 5px;
}
.ftr-container a {
	color: #fff;
}
.ftr-container a:hover {
	text-decoration: underline;
}