* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $text-grey-dark;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: $text-grey-dark;
    text-decoration: none;
    // -webkit-tap-highlight-color: rgba(255,255,255,0);
}

a:hover,
a:focus {
	outline:none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/*img {
    display: block;
    width: 100%;
    height: auto;
}*/


/*
    BreadCrumb
*/
.breadcrumb {
    list-style: none;
}
.breadcrumb a {
    color: $text-grey-light;
}
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active  {
    text-decoration: none;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: $text-grey-light;
    content: "|\00a0";
}



/*
    Floats
*/
.fL {   float: left !important;}
.fR {   float: right !important;}


/*
    Margins
*/
.m0 	{margin: 0 !important; }
.mt5    {margin-top: 5px !important;}
.mt10   {margin-top: 10px !important;}
.mt20px {}


.mb0 	{margin-bottom: 0 !important;}
.mb5    {margin-bottom: 5px !important;}
.mb10   {margin-bottom: 10px !important;}
.mb20   {margin-bottom: 20px !important;}

/*
    Display
*/
.dinline  {display:inline;}

/*
    ClearFix
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */









