<ul>
    <span class="sorting_list_bg">
        <li class="sort_active_link filter-type" id=""><a title="All Activities" href="#" data-id="all" class="post-filter">All</a></li>
        <li class="filter-type"><a title="All Brands" href="#" class="post-filter" data-id="brands">Brands</a></li>
    </span>
    <select class="object-selection">
        <option title="All Posts" href="#">More</option>
        <option title="All Groups" href="#" class="filter-groups">Groups</option>
        <option title="All Battles" href="#" class="filter-battles">Battles</option>
        <option title="All Polls" href="#" class="filter-polls">Polls</option>
        <option title="All Vidoes" href="#" class="filter-videos">Videos</option>
        <option title="All Music" href="#" class="filter-audios">Audio</option>
    </select>
</ul>